
@{
    ViewData["Title"] = "Index";
}
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/Default/GetEmployees",
            type: "GET",
            dataType: "json",
            success: function (empdata) {
             //    console.log(empdata);
                $.each(empdata, function (key, item) {
                    $("#tbl").append("<tr>"
                        + "<td>" + item.empId + "</td>"
                        + "<td>" + item.fname + "</td>"
                        + "<td>" + item.salary + "</td>"
                        + "<td>" + item.email + "</td>"
                        + "<td>" + item.mobile + "</td>"
                        + "<td>" + item.gender + "</td>"
                        + "<td><a href='/Default/Edit/" + item.empId + "'> Edit</a> | <a href='/Default/Delete/" + item.empId + "'> Delete</a></td>"
                        + "</tr>");
                });
            }
        });
    });
</script>

<h1>Index</h1>

<br />
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table" id="tbl">
    <tr>
        <th>Employee ID</th>
        <th>First Name</th>
        <th>Salary</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Gender</th>
    </tr>
</table>
