@model Project_Hospital.EDM.TblHospital

@{
    ViewData["Title"] = "Hospital";
    Layout = "~/Areas/Admin/Views/Admin_Layout.cshtml";
}
<style>
    .form-controlnew {
        width: 90%;
    }
    
</style>



<hr />
<div class="cols-grids panel-widget">
    <div class="row form-controlnew">
        <div class="col-md-6 " >
            <form asp-action="HospitalAdd" method="post" enctype="multipart/form-data" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group" hidden>
                    <label asp-for="HospId" class="control-label"></label>
                    <input asp-for="HospId" class="form-control" style="width:120px;"/>
                    <span asp-validation-for="HospId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Hname" class="control-label"></label>
                    <input asp-for="Hname" class="form-control" />
                    <span asp-validation-for="Hname" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="HLogImg" class="control-label"></label>
                        <input asp-for="HLogImg" class="form-control" />
                        <span asp-validation-for="HLogImg" class="text-danger"></span>

                    </div>*@

                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="HospEmail" class="control-label"></label>
                    <input asp-for="HospEmail" class="form-control" />
                    <span asp-validation-for="HospEmail" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input  asp-for="Address" multiline="true" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}


