
@{
    ViewData["Title"] = "HomePage";
    Layout = "~/Areas/Hospital/Views/Hospital_Layout.cshtml";
}


<!-- Necessary-JavaScript-File-For-Bootstrap -->
<!-- //Js files -->
@*<div class="slider">
    <div class="callbacks_container">
        <ul class="rslides callbacks callbacks1" id="slider4">
            <li id="callbacks1_s0" class="" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 1000ms ease-in-out 0s;">
                <div class="banner-top1">
                    <div class="banner-info_agile_w3ls">
                        <div class="container">
                            <h3>
                                Medical services that you
                                <span>can trust</span>
                            </h3>
                            <p class="mt-3 mb-md-5 mb-3">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation
                                ullamco.
                            </p>
                            <a href="about.html">
                                Read More
                                <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li id="callbacks1_s1" style="display: block; float: left; position: relative; opacity: 1; z-index: 2; transition: opacity 1000ms ease-in-out 0s;" class="callbacks1_on">
                <div class="banner-top2">
                    <div class="banner-info_agile_w3ls">
                        <div class="container">
                            <h3>
                                Medical excellence
                                <span>every day</span>
                            </h3>
                            <p class="mt-3 mb-md-5 mb-3">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation
                                ullamco.
                            </p>
                            <a href="about.html">
                                Read More
                                <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
            <li id="callbacks1_s2" style="display: block; float: none; position: absolute; opacity: 0; z-index: 1; transition: opacity 1000ms ease-in-out 0s;" class="">
                <div class="banner-top3">
                    <div class="banner-info_agile_w3ls">
                        <div class="container">
                            <h3>
                                The Hospital of the
                                <span>future, today</span>
                            </h3>
                            <p class="mt-3 mb-md-5 mb-3">
                                sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                                minim veniam, quis nostrud exercitation
                                ullamco.
                            </p>
                            <a href="about.html">
                                Read More
                                <i class="fa fa-caret-right ml-2" aria-hidden="true"></i>
                            </a>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
        <a href="#" class="callbacks_nav callbacks1_nav prev">Previous</a>
        <a href="#" class="callbacks_nav callbacks1_nav next">Next</a>
        <ul class="callbacks_tabs callbacks1_tabs">
            <li class="callbacks1_s1">
                <a href="#" class="callbacks1_s1">1</a>
            </li>
            <li class="callbacks1_s2 callbacks_here">
                <a href="#" class="callbacks1_s2">2</a>
            </li>
            <li class="callbacks1_s3"><a href="#" class="callbacks1_s3">3</a></li>
        </ul>
    </div>
</div>*@

<!-- //header 2 -->
<!-- banner -->
<!-- //banner -->
