@model Project_Hospital.EDM.Patient

@{
    ViewData["Title"] = "PatientEdit";
    Layout = "~/Areas/Hospital/Views/Hospital_Layout.cshtml";
}
<style>
    .form-controlnew {
        width: 50%;
    }

    .form-group label {
        color: black;
        text-align: left;
    }
</style>
<h2>Patient Edit</h2>

<hr />
<div class="cols-grids panel-widget">
    <div class="row form-controlnew">
        <div class="col-md-6">
            <form asp-action="PatientEdit" method="post"  enctype="multipart/form-data" >
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="PatId" class="control-label"></label>
                    <input asp-for="PatId" class="form-control" readonly />
                    <span asp-validation-for="PatId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Fname" class="control-label"></label>
                    <input asp-for="Fname" class="form-control" />
                    <span asp-validation-for="Fname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Lname" class="control-label"></label>
                    <input asp-for="Lname" class="form-control" />
                    <span asp-validation-for="Lname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Password" class="control-label"></label>
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                @*<div class="form-group">
                        <label asp-for="PImg" class="control-label"></label>
                        <input asp-for="PImg" class="form-control" />
                        <span asp-validation-for="PImg" class="text-danger"></span>
                    </div>*@
                <div class="form-group">
                    <label asp-for="ImageFile" class="control-label"></label>
                    <input asp-for="ImageFile" accept="image/*" />
                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Mobile" class="control-label"></label>
                    <input asp-for="Mobile" class="form-control" />
                    <span asp-validation-for="Mobile" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Address" class="control-label"></label>
                    <input asp-for="Address" class="form-control" />
                    <span asp-validation-for="Address" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="SId" class="control-label"></label>
                    @*<input asp-for="SId" class="form-control" />*@
                    <select asp-for="SId" class="form-control" asp-items="@(new SelectList(ViewBag.stat_id,"StatId","StateName"))"></select>

                    <span asp-validation-for="SId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="CId" class="control-label"></label>
                    @*<input asp-for="CId" class="form-control" />*@
                    <select asp-for="CId" class="form-control" asp-items="@(new SelectList(ViewBag.city_id,"CityId","CityName"))"></select>

                    <span asp-validation-for="CId" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Save" class="btn btn-info" />
                </div>
            </form>
        </div>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
