
@{
    ViewData["Title"] = "nivos";
}
<link rel="stylesheet" href="~/nivo-slider/themes/default/default.css" type="text/css" media="screen" />
<link rel="stylesheet" href="~/nivo-slider/nivo-slider.css" type="text/css" media="screen" />



<div id="jquery-script-menu">
    <div class="jquery-script-center">
        <ul>
           
        </ul>
        <div class="jquery-script-ads">
            <script type="text/javascript">

            </script>
            
        </div>
        <div class="jquery-script-clear"></div>
    </div>
</div>
<h1 style="margin-top:150px;" align="center">jQuery Nivo Slider Demo</h1>
<div id="wrapper">
    <div class="slider-wrapper theme-default">
        <div id="slider" class="nivoSlider">
        <img src="~/nivo-slider/demo/images/toystory.jpg" data-thumb="~/nivo-slider/demo/images/toystory.jpg" alt="" />
        <a href="http://dev7studios.com">
            <img src="~/nivo-slider/demo/images/up.jpg" data-thumb="~/nivo-slider/demo/images/up.jpg" alt="" title="This is an example of a caption" /></a> 
        <img src="~/nivo-slider/demo/images/walle.jpg" data-thumb="~/nivo-slider/demo/images/walle.jpg" alt="" data-transition="slideInLeft" /> 
        <img src="~/nivo-slider/demo/images/nemo.jpg" data-thumb="~/nivo-slider/demo/images/nemo.jpg" alt="" title="#htmlcaption" /> </div>
        <div id="htmlcaption" class="nivo-html-caption"> <strong>This</strong> is an example of a <em>HTML</em> caption with 
        <a href="#">a link</a>. </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript" src="~/nivo-slider/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
</script>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-36251023-1']);
  _gaq.push(['_setDomainName', 'jqueryscript.net']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>