
@{
    ViewData["Title"] = "CustomTag";
}

<h1>CustomTag</h1>
<table class="table table-striped table-bordered table-sm">
    <thead>
        <tr bg-color="info" text-color="white">
            <th colspan="2">Employee Details</th>
        </tr>
    </thead>
    <tbody>
        <tr bg-color="warning" text-color="dark">
            <th>Employee ID</th>
            <td>1</td>
        </tr>
        <tr bg-color="danger" text-color="light">
            <th>Employee name</th>
            <td>Balaguruswami</td>
        </tr>
        <tr bg-color="secondary" text-color="light">
            <th>Salary</th>
            <td>50000</td>
        </tr>
    </tbody>
</table>
