
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<a asp-protocol="https" asp-controller="Default" asp-action="About" asp-route-id="25">Goto next</a>
<br />
<a asp-host="https://www.google.com" >Goto next</a>