@using DependencyInjection.Services;
@inject VisitorCounter _counter
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<h3>Controller level count: @ViewBag.count</h3>
<h3>View Level count: @_counter.Getcount()</h3>
<h3>View level count: @ViewBag.cnt</h3>